<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <title>Carte de Foule</title>

    <style>
        #app {
            background: url('assets/logo-back.svg') no-repeat left center fixed !important;
            background-size: contain !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>

            <v-app-bar app elevation="0">
                <v-img class="float-left mr-4" max-width="32" src="assets/logo-front.svg" alt="Feranet Logo"></v-img>
                <v-app-bar-title>Carte de Foule</v-app-bar-title>

                <v-spacer></v-spacer>

                <v-divider vertical class="mx-6 hidden-md-and-down"></v-divider>
                <div class="pt-6 hidden-md-and-down">
                    <v-radio-group v-model="radios" row mandatory>
                        <v-radio color="dark" label="Petit" value="3"></v-radio>
                        <v-radio color="dark" label="Moyen" value="6"></v-radio>
                        <v-radio color="dark" label="Large" value="12"></v-radio>
                    </v-radio-group>
                </div>

            </v-app-bar>

            <v-main>
                <v-container class="my-8">
                    <v-row>
                        <v-col v-for="(item, i) in extinction" :key="i" class="d-flex child-flex cursor" cols="12"
                            sm="12" :lg="radios">
                            <v-hover v-slot="{ hover }">
                                <v-card :elevation="hover ? 12 : 2" :class="{ 'on-hover': hover }" download
                                    :href="'maps/' + item.title + '.txt'">

                                    <v-img :src="'images/' + item.title + '.png'" class="grey lighten-2"></v-img>

                                    <v-toolbar flat>
                                        <v-toolbar-title>{{ item.title.replace('-',' ') }}</v-toolbar-title>

                                        <v-icon v-show="hover ? true : false" class="ml-1">mdi-download</v-icon>

                                        <v-spacer></v-spacer>

                                        <v-chip outlined v-text="item.level"></v-chip>

                                    </v-toolbar>
                                </v-card>
                            </v-hover>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>

        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

            data: () => ({
                radios: null,

                extinction: [
                    {
                        title: "Mario",
                        level: "Moyen"
                    },
                    {
                        title: "Minion",
                        level: "Moyen"
                    },
                    {
                        title: "Bulles",
                        level: "Moyen"
                    },
                    {
                        title: "Invader",
                        level: "Difficile"
                    },
                    {
                        title: "Vieux-Chêne",
                        level: "Difficile"
                    },
                    {
                        title: "Noël",
                        level: "Moyen"
                    },
                    {
                        title: "Conscrit",
                        level: "Facile"
                    },
                    {
                        title: "Mini-Rally",
                        level: "Moyen"
                    },
                    {
                        title: "Stick-World",
                        level: "Moyen"
                    },
                ],
            }),
        })
    </script>
</body>

</html>